<div class="flex flex-wrap">
    <div class="w-full md:w-2/3">
        <h2 class="mb-3 titolo_descrizione_lunga md:mb-5">Informazioni</h2>
        <div class="descrizione_lunga">
            {{convertRTFToHTML c_descrizioneLunga}}
        </div>
    </div>
    <div class="sidebar_lista_link w-full md:w-1/3 md:px-8">
        <a class="button button_prenota" href="{{c_urlPrenotazione}}" target="_blank"><i class="fa-solid fa-calendar-check fa-xl"></i> Prenota</a>
        <a class="button button_scrivici" href="{{c_urlContatti}}" target="_blank"><i class="fa-solid fa-edit fa-xl"></i> Scrivici</a>
        <a class="button button_struttura" href="{{c_urlbaseURL}}" target="_blank"><i class="fa-solid fa-hospital fa-xl"></i> Vai alla struttura</a>
        <a class="button button_orari" href="{{c_urlOrari}}" target="_blank"><i class="fa-solid fa-clock fa-xl"></i> Orari e info generali</a>
    </div>
</div>