    <div class="container mt-6">
    <!-- <div class="grid gap-y-10 md:grid-cols-2 lg:grid-cols-3  bg-light p-8">

            <div class="hours">
                <h2 class="mb-3">Orari</h2>
                <div>{{>hours hours}}</div>
            </div>

            <div class="grid gap-y-10 md:grid-cols-1 lg:grid-cols-2 lg:col-span-2">
                <div class='address'>
                    <h2 class="mb-3">Indirizzo</h2>
                    <a id="address" class="hover:underline" href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}" target="_blank">
                        <div>{{address.line1}}</div>
                        <div>{{address.city}}, {{address.region}} {{address.postalCode}}</div>
                        <div>{{address.countryCode}}</div>
                    </a>
                </div>

                <div class="phone">
                    <h2 class="mb-3">Contatti</h2>
                    <p><span>&#128222;</span> {{phoneNumber "US" mainPhone "NATIONAL"}}</p>
                </div>
            </div>


    </div>-->

        <div class="flex items-stretch flex-wrap box_cartina_orari">
            <div class="w-full md:w-3/5">
                <div class="immagine_cartina relative z-20 overflow-hidden md:w-full " style="background-image: url('{{c_immagine_cartina.url}}');">
                   
                </div><!-- .image -->
            </div><!-- .main_banner -->
            <div class="flex flex-col justify-between w-full md:w-2/5 py-6 px-5">
                <h1 class="big_title">{{c_regione}}</h1>
                <a id="address" class="hover:underline" href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}" target="_blank">
                    <div>{{address.line1}}, {{address.postalCode}}, {{address.city}}, {{address.region}} </div>
                </a>
                <div class="hours">
                    <div>{{>hours hours}}</div>
                </div>              
                <div>
                    <a class="button-blue" href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}" target="_blank">
                        <i class="fa-solid fa-road fa-xl mr-2"></i> Ottieni indicazioni
                    </a>
                </div>
                
                
            </div>
        </div>
        </div>