
<div class="container flex flex-col md:flex-row">

    <div class="main_banner_info flex flex-col justify-between bg-lightblue w-full md:w-2/5 py-6 px-5">

        <div>
            <h1 class="title-narrow text-dark text-xl">{{name}}</h1>
            <div> {{>isOpenScript hours}}</div>
        </div>

        <p class="descrizione">{{c_descrizioneBreve}}</p>
        <div class="flex">
            <!--<p class="text-bold">Indirizzo</p>
    <a id="address" class="hover:underline" href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}" target="_blank">
        <div>{{address.line1}}, {{address.city}}, {{address.region}} {{address.postalCode}}</div>
    </a>-->

            <a class="flex w-1/2 items-center button button_prenota" href="tel:{{phoneNumber "US" mainPhone "NATIONAL"}}"><i class="fa-solid fa-phone-flip fa-xl"></i> <div>Centralino<br />{{phoneNumber "US" mainPhone "NATIONAL"}}</div></a>

            <a class="flex w-1/2 items-center button button_prenota" href="{{c_urlPrenotazione}}" target="_blank"><i class="fa-solid fa-calendar-check fa-xl"></i> <div>Prenota<br />Online attraverso il form</div></a>

        </div>

    </div>
    <div class="main_banner w-full md:w-3/5">
        <div class="relative z-20 overflow-hidden h-70 md:h-full">
            <img class=" w-full object-cover h-full" src="{{c_immagineStruttura.url}}" />
        </div><!-- .image -->
    </div><!-- .main_banner -->
</div>




