
<div class="container flex flex-col md:flex-row">

    <div class="main_banner_info flex flex-col justify-between w-full md:w-2/5">

        <div>
            <h1 class="big_title">
                {{#if c_nomeStruttura}}
                {{c_nomeStruttura}}
                {{else}}
                {{name}}
                {{/if}}
            </h1>
            <div> {{>isOpenScript hours}}</div>
        </div>

        <p class="descrizione">{{c_descrizioneBreve}}</p>
        <div class="flex flex-wrap main_banner_links">

            <a class="flex w-1/2 items-center button button_prenota" href="tel:{{phoneNumber "US" mainPhone "NATIONAL"}}"><i class="fa-solid fa-phone-flip fa-xl"></i> <div class="button_part_right"><strong>Centralino</strong> <span>{{phoneNumber "US" mainPhone "NATIONAL"}}</span></div></a>

            <a class="flex w-1/2 items-center button button_prenota" href="{{c_urlPrenotazione}}" target="_blank"><i class="fa-solid fa-calendar-check fa-xl"></i> <div class="button_part_right"><strong>Prenota</strong><span>Online attraverso il form</span></div></a>

        </div>

    </div>
    <div class="main_banner main_banner_image w-full md:w-3/5">
        <div class="relative z-20 overflow-hidden h-70 md:h-full">
            <img class=" w-full object-cover h-full" loading="lazy" src="{{c_immagineStruttura.url}}" />
        </div><!-- .image -->
    </div><!-- .main_banner -->
</div>




