
    <div class="section">
        <div class="container">
            <a href="/index.html">Home</a> > {{this.name}}
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="bg-gray-100 container_nearby">
                <h4 class="text-center mb-2 title_nearby">Ospedali GVM in {{name}}</h4>
                <div class="location-data">
                    {{#each dm_directoryChildren}}
                    <a class="location_nearby" href="{{this.slug}}">
                        <div class="grid address-cta-column">
                            <div class="image" style="background-image: url({{this.c_immagineStruttura.thumbnails.[2].url}}); "></div>
                            <h5 class="name text-xl font-semibold">{{this.name}}</h5>
                            <div class="address">
                                <div><span data-yext-field="address.line1" data-yext-id="{{this.id}}">{{this.address.line1}}</span>, <span data-yext-field="address.postalCode" data-yext-id="{{this.id}}">{{this.address.postalCode}}</span>, <span data-yext-field="address.city" data-yext-id="{{this.id}}">{{this.address.city}}</span>, <span data-yext-field="address.region" data-yext-id="{{this.id}}">{{this.address.region}}</span></div>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>




    </div>
    <div class="w-full">
        {{>footer}}
    </div>



