
<div class="section section_breadcrumbs">
    <div class="container">
        <a href="/index.html" class="br_home">Home</a> > <span class="active_page">{{this.name}}</span>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="bg-gray-100 container_nearby">
            <h4 class="text-center mb-2 title_nearby">Ospedali GVM in {{name}}</h4>
            <div class="location-data">
                {{#each c_regioneStruttura}}
                <a class="location_nearby" href="{{this.slug}}">
                    <div class="grid address-cta-column">
                        <div class="image" style="background-image: url('{{dynamicImage this.c_immagineStruttura.url "460x200" true }}'); "></div>
                        <h5 class="name text-xl font-semibold">{{this.c_nomeStruttura}}</h5>
                        <div class="address">
                            <div><span data-yext-field="address.line1" data-yext-id="{{this.id}}">{{this.address.line1}}</span>, <span data-yext-field="address.postalCode" data-yext-id="{{this.id}}">{{this.address.postalCode}}</span>, <span data-yext-field="address.city" data-yext-id="{{this.id}}">{{this.address.city}}</span>, <span data-yext-field="address.region" data-yext-id="{{this.id}}">{{this.address.region}}</span></div>
                        </div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>




</div>
<div class="w-full">
    {{>footer}}
</div>



