<div class="specialita_container_main flex justify-center items-stretch flex-wrap">
    <div class="intro">
        <h2 class="titolo_descrizione_lunga">
            Specialità e Servizi:
            <span class="text-regular">
                {{#if c_nomeStruttura}}
                {{c_nomeStruttura}}
                {{else}}
                {{name}}
                {{/if}}
            </span>
        </h2>
        <p>Scopri le specialità e i servizi della struttura o visualizza tutte le specialità mediche sul sito web</p>

    </div>
    <div class="flex bg_white flex-wrap specialita_container">

        {{#with c_immagineSpecialita}}
        <div class="col_specialita_image" style="background-image: url('{{this.primaryPhoto.image.thumbnails.[2]}}{{url}}')"></div>
        {{/with}}

        <div class="col_specialita_content">
            <div class="specilita_servizi">
                {{#if c_elencoSpecialitaStrutturaGVM}}
                <div class="specialita">
                    <span class="title">Specialità</span>
                    {{convertRTFToHTML c_elencoSpecialitaStrutturaGVM}}
                </div>
                {{/if}}
                {{#if c_elencoServiziStrutturaGVM}}
                <div class="servizi">
                    <span class="title">Servizi</span>
                    {{convertRTFToHTML c_elencoServiziStrutturaGVM}}
                </div>
                {{/if}}
            </div>
            <div class="link">
                <a class="button-blue" href="{{c_urlTutteLeSpecialita}}" target="_blank">
                    <i class="fa-solid fa-user-md fa-xl mr-2"></i> Tutte le specialità mediche
                </a>
            </div>
        </div>

    </div>
</div>