<div class="specialita_container flex justify-center items-stretch flex-wrap">
    <div class="intro">
        <h2 class="titolo_descrizione_lunga">Specialità e Servizi: {{name}}</h2>
        <p>Lorem ipsum dolor sit amet</p>
        <div class="flex">
            <div class="flex">
                <div class="flex">
                    {{convertRTFToHTML c_elencoSpecialitaStrutturaGVM}}
                </div>
                <div>
                    {{c_elencoServiziStrutturaGVM}}
                </div>
            </div>
            
        <div>
            {{#with c_immagineSpecialita}}

            <div class="col_iniziativa_image" style="background-image: url('{{this.primaryPhoto.image.thumbnails.[2]}}{{url}}'); "></div>
            {{/with}}

        </div>
        </div>
    </div>
     <!--{{#each c_listaSpecialità}}
<a href="{{this.linkSpecialità}}" class="link_specialita w-1/4 p-3 m-2" target="_blank">
    <div class="col_iniziativa_image" style="background-image: url('{{#with this.primaryPhoto.image.thumbnails.[2]}}{{url}}{{/with}}');"></div>
    <h4>{{this.nomeSpecialità}}</h4>
    <div class="descrizione_specialita">
        {{this.descrizioneSpecialità}}
    </div>
    <div class="col_iniziativa_fake_link">
        <i class="fa fa-caret-right"></i> Scopri di più
    </div>
</a>--><!-- .link_specialita -->
     <!--{{/each}}-->


</div>