<div>
    <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}"><img class="w-full"
         alt="Static Google map for {{name}} - {{neighborhood}}"
         width="300"
         height="200"
         src="https://maps.googleapis.com/maps/api/staticmap?size=600x400&maptype=roadmap&style=feature:all%7Csaturation:-100&markers=icon:https://www.gvmnet.it/App_Themes/GVMNet/images/markerBlue.png%7C{{geocodedCoordinate.latitude}},{{geocodedCoordinate.longitude}}&key={{global.googleApiKey}}&zoom=15" />
    </a>
</div>

