---
{
    "stream": {
        "$id": "locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "healthcareFacility"
            ],
            "savedFilterIds": ["1234994255"]
        },
        "fields": [
            "id",
            "uid",
            "meta",
            "name",
            "c_nomeStruttura",
            "address",
            "c_regione",
            "mainPhone",
            "description",
            "c_descrizioneLunga",
            "hours",
            "photoGallery",
            "slug",
            "c_immagineStruttura",
            "c_immagineSpecialita",
            "c_immagine_cartina",
            "c_descrizioneBreve",
            "geocodedCoordinate",
            "services",
            "c_baseURL",
            "c_urlPrenotazione",
            "c_urlContatti",
            "c_urlOrari",
            "websiteUrl",
            "neighborhood",
            "paymentOptions",
            "primaryPhoto",
            "c_iniziativeCorrelate.primaryPhoto",
            "c_iniziativeCorrelate.c_descrizioneBreve",
            "c_iniziativeCorrelate.c_baseURL",
            "c_iniziativeCorrelate.slug",
            "c_iniziativeCorrelate.name",
            "c_listaSpecialità",
            "c_contenutiInEvidenza",
            "c_direttoreSanitario",
            "c_amministratoreDelegato",
            "c_postiLetto",
            "c_datiAmministrazione_1",
            "c_datiAmministrazione_2",
            "c_elencoSpecialitaStrutturaGVM",
            "c_elencoServiziStrutturaGVM",
            "c_urlTutteLeSpecialita",
             "c_regioneStruttura.name",
            "c_regioneStruttura.id",
            "c_regioneStruttura.slug"

        ],
        "localization": {
            "locales": ["it"]
        },
        "transform": {
             "replaceOptionValuesWithDisplayNames": ["c_regione"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="it">
<head>
    {{>head }}
    {{>schema}}
</head>
<body class="relative">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVQ4R5G"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{>header_elogic}}

    <div class="section">
        <div class="container">
            <a class="br_home" href="/index.html">Home</a> > {{#with c_regioneStruttura}}<a class="br_regione" href="{{this.slug}}">{{this.name}}</a>{{/with}} > <span class="br_ospedale">
                {{#if c_nomeStruttura}}{{c_nomeStruttura}}{{else}}{{name}}{{/if}}
            </span>
        </div>
    </div>

    <div class="section section_main_banner">
        {{>main_banner}}
    </div>
    <div class="section section_location_details">
        {{>locationdetails}}
    </div>
    {{#if c_descrizioneLunga}}
    <div class="section">
        <div class="container">
            <div class="">{{>aboutmap}} </div>
        </div>
    </div>
    {{/if}}
    {{#if c_contenutiInEvidenza}}
    <div class="section background_specialita">
        <div class="container">
            {{>evidenza}}
        </div>
    </div>
    {{/if}}
    {{#if c_elencoSpecialitaStrutturaGVM}}
    <div class="section background_specialita">
        <div class="container">
            {{>specialita_servizi}}
        </div>
    </div>
    {{/if}}
    <div class="section">
        <div class="container">
            <div class="">{{>nearby geocodedCoordinate}}</div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            {{>dati_legali}}
        </div>
    </div><!-- new data_legal -->
    <div class="w-full">
        {{>footer}}
    </div>

</body>

</html>


