---
{
    "stream": {
        "$id": "locations",
        "source": "knowledgeGraph",
        "destination": "pages",
        "filter" : {
            "entityTypes": [
                "healthcareFacility"
            ],
            "savedFilterIds": ["1234994255"]
        },
        "fields": [
            "id",
            "uid",
            "meta",
            "name",
            "c_nomeStruttura",
            "address",
            "mainPhone",
            "description",
            "c_descrizioneLunga",
            "hours",
            "photoGallery",
            "slug",
            "c_immagineStruttura",
            "c_immagineSpecialita",
            "c_immagine_cartina",
            "c_descrizioneBreve",
            "geocodedCoordinate",
            "services",
            "c_baseURL",
            "c_urlPrenotazione",
            "c_urlContatti",
            "c_urlOrari",
            "websiteUrl",
            "neighborhood",
            "paymentOptions",
            "primaryPhoto",
            "c_iniziativeCorrelate.primaryPhoto",
            "c_iniziativeCorrelate.c_descrizioneBreve",
            "c_iniziativeCorrelate.c_baseURL",
            "c_iniziativeCorrelate.slug",
            "c_iniziativeCorrelate.name",
            "c_listaSpecialità",
            "c_contenutiInEvidenza",
            "c_direttoreSanitario",
            "c_amministratoreDelegato",
            "c_postiLetto",
            "c_datiAmministrazione_1",
            "c_datiAmministrazione_2",
            "c_elencoSpecialitaStrutturaGVM",
            "c_elencoServiziStrutturaGVM",
            "c_urlTutteLeSpecialita",
            "c_uRLStrutturaSitoGVM",
            "c_bannerTop",
            "dm_directoryParents.name",
            "dm_directoryParents.id",
            "dm_directoryParents.slug",
            "dm_directoryParents.address",
            "r_regione",
            "c_banner"
        ],
        "localization": {
            "locales": ["it"]
        }
    },
    "urlFormat": "{{slug}}"
}
---
<!DOCTYPE html>
<html lang="it">
<head>
    {{>head}}
    
</head>
<body class="relative">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVQ4R5G"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    {{>schema}}
    <!-- End Google Tag Manager (noscript) -->
    {{>header_elogic}}

    {{#if c_bannerTop}}
    <div class="bannerTop"><p>{{c_bannerTop}}</p></div>
    {{/if}}


    <div class="section section_breadcrumbs" data-ya-scope="SectionBreadcrumbs">
        <div class="container">
            <a class="br_home" data-ya-track="LinkHome" href="/">Home</a> > <a class="br_regione" data-ya-track="LinkRegione" href="/{{dm_directoryParents.[1].slug}}">{{dm_directoryParents.[1].name}}</a> > <span class="active_page br_ospedale">
                {{#if c_nomeStruttura}}{{c_nomeStruttura}}{{else}}{{name}}{{/if}}
            </span>
        </div>
    </div>

    <div class="section section_main_banner" data-ya-scope="SectionBanner">
        {{>main_banner}}
    </div>
    <div class="section section_location_details" data-ya-scope="SectionMappa">
        {{>locationdetails}}
    </div>
    {{#if c_descrizioneLunga}}
    <div class="section">
        <div class="container">
            <div class="">{{>aboutmap}} </div>
        </div>
    </div>
    {{/if}}
    {{#if c_banner}}
<div class="container mt-4" id="ctaAnni">
    <div class="containerBanner50Static">
        <div class="inner">
            <div class="firstCol">
                <img src="https://www.gvmnet.it/admingvm/media/GVM_NET_Immagini/50anniLogo.png">
                <img class="testo" src="https://www.gvmnet.it/admingvm/media/GVM_NET_Immagini/testo50anni.png">
            </div><div class="secCol">
                <a href="https://www.gvmspa.it/it-IT/50-Anni" class="btn btn-lead btn-primary btn50anni">Guarda ora</a>

            </div>
        </div>
    </div>
</div>
    <style>

            .containerBanner50Static {
                display: flex;
                background: rgb(107,101,171);
                background: linear-gradient(90deg, rgba(107,101,171,1) 0%, rgba(61,139,196,1) 100%);
                padding: 20px 70px 20px 20px;
            }

                .containerBanner50Static .inner {
                    width: 100%;
                    max-width: 1086px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -ms-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                }

            .firstCol {
                display: flex;
                gap: 10px;
            }

                .firstCol img {
                    width: auto;
                    height: 70px;
                }

            .secCol {
                display: flex;
                align-items: center;
            }

                .secCol a.btn50anni {
                    background-color: #F6CF35 !important;
                    color: #23475D;
                    font-weight: 800;
                    border: none;
                    font-size: 1.125rem;
                    padding: .625rem 1.625rem;
                    line-height: 1.2;
                    text-transform: uppercase;
                    border-radius: 2.5rem;
                }

        @media (max-width:767px) {
            .containerBanner50Static {
                padding: 15px 10px;
            }
            .firstCol img {
                width: auto;
                height: 39px;
            }
            .secCol a.btn50anni {
                font-size: 11px;
                padding: 8px 10px;
                line-height: 1;
                text-transform: uppercase;
                border-radius: 2.5rem;
                margin-left: auto;
            }
        }
            @media (max-width:720px) {

                .firstCol img {
                    height: 39px;
                }
            }

            @media (max-width:520px) {

                .containerBanner50Static {
                    padding: 13px 10px 13px 9px;
                    scroll-margin-top: 50px;
                }

                .inner {
                    gap: 10px;
                    justify-content: unset;
                }

                .containerBanner50Static a.btn {
                    font-size: .8rem;
                }

                .firstCol img {
                    height: 35px;
                }

                .containerBanner50Static {
                    height: auto;
                }

                .secCol {
                    margin-left: auto;
                    margin-right: 2px;
                }
            }

        @media (max-width:358px) {
            .firstCol img {
                height: 30px;
            }
        }
    </style>
    {{/if}}
    {{#if c_contenutiInEvidenza}}
    <div class="section background_specialita" data-ya-scope="SectionInEvidenza">
        <div class="container">
            {{>evidenza}}
        </div>
    </div>
    {{/if}}
    {{#if c_elencoSpecialitaStrutturaGVM}}
    <div class="section background_specialita" data-ya-scope="SectionSpecialitaServizi">
        <div class="container">
            {{>specialita_servizi}}
        </div>
    </div>
    {{/if}}
    <div class="section" data-ya-scope="SectionClinicheVicine">
        <div class="container">
            <div class="">{{>nearby geocodedCoordinate}}</div>
        </div>
    </div>
    <div class="section" data-ya-scope="SectionDatiLegali">
        <div class="container">
            {{>dati_legali}}
        </div>
    </div><!-- new data_legal -->
    <div class="w-full" data-ya-scope="SectionFooter">
        {{>footer}}
    </div>

</body>

</html>


